<app-header></app-header>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Controle de Produtos</h1>
            <p class="lead text-muted">Sistema para cadastrar, editar, visualizar excluir e verificar a data de validade dos produtos cadastrados</p>
            <p>
                <a href="#" routerLink="/produto" class="btn btn-primary my-2">Adicionar Novo Produto</a>
                <a href="#" routerLink="/" class="btn btn-secondary my-2">Voltar a Home</a>
            </p>
        </div>
    </section>
    <router-outlet></router-outlet>
</main>
<app-footer></app-footer>