<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4" *ngFor="let item of produtos">
          <div class="card mb-4 box-shadow">
            <h3 style="margin-left: 20px; font-size: 22px; margin-top: 10px;">{{item.nome}}</h3>
            <img class="card-img-top" style="height: 250px;" [src]="'http://localhost:5000/imagens/'+item.imagem" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">{{item.descricao}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>